{{- if not .Date.IsZero -}}
<span class="post-meta">
    Date: {{ .Date.Format "January 2, 2006" }}
</span>
{{- end -}}

{{- if ne .Lastmod .Date -}}
<span class="post-meta">
    &nbsp;|&nbsp;Last Updated: {{ .Lastmod.Format "January 2, 2006" }}
</span>
{{- end -}}

{{- if .IsPage -}}
    {{- if .Site.Params.ShowReadingTime -}}
    <span class="post-meta">
        &nbsp;|&nbsp;Estimated Reading Time: {{ .ReadingTime }} min
    </span>
    {{- end -}}
{{- end -}}

{{- if .IsPage -}}
    {{- if .Site.Params.ShowWordCount -}}
    <span class="post-meta">
        &nbsp;|&nbsp;Word Count: {{ .WordCount }}
    </span>
    {{- end -}}
{{- end -}}

{{- with .Params.problem_id -}}
<span class="post-meta">
    &nbsp;|&nbsp;Problem #{{ . }}
</span>
{{- end -}}

{{- with .Params.difficulty -}}
<span class="post-meta">
    &nbsp;|&nbsp;Difficulty: {{ . | title }}
</span>
{{- end -}}

{{- with .Params.article_type -}}
<span class="post-meta">
    &nbsp;|&nbsp;Type: {{ . | title }}
</span>
{{- end -}}

{{- with .Params.topics -}}
<span class="post-meta">
    &nbsp;|&nbsp;Topics: {{ delimit . ", " }}
</span>
{{- end -}}

{{- with .Params.frameworks -}}
<span class="post-meta">
    &nbsp;|&nbsp;Frameworks: {{ delimit . ", " }}
</span>
{{- end -}}

{{- with .Params.series -}}
<span class="post-meta">
    &nbsp;|&nbsp;Series: {{ delimit . ", " }}
</span>
{{- end -}}

{{- with .Params.author -}}
<span class="post-meta">
    &nbsp;|&nbsp;Author: {{ . }}
</span>
{{- end -}}
